@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300&display=swap');

*{
    padding: 0%;
    margin: 0%
}

html {
    box-sizing: border-box;
    font-size: 62,5%;
    margin: 0%;
    padding: 0%;
    -webkit-tap-highlight-color: transparent;
}

:root{
    --MainFont:'Inter', sans-serif;
    --Grey:#FCFCFC;
    --Blue:#3D8AFF;
    --SoftGrey:#F1F1F1;
    --Red:#ED4956;
    --DarkBlue:#1941F8;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body{
    font-family: 'Inter', sans-serif;
    overflow-x:hidden;
}

/*MOBILE*/

.app{
    width:527px;
    height:770px;
    margin: 50% auto;
    border: solid var(--SoftGrey) .5px;
    border-radius:5px;
    background-color: var(--Grey);
    box-shadow: 0px 20px 25px -10px rgba(0,0,0,0.3);
}

/*HEADER*/

header{
    height:80px;
    display:flex;
    align-items:center;
    gap:17px;
    margin-left:25px;
    margin-top: 15px;
}

.nick-image{
    width:50px;
    height:50px;
}


.nick-text{
    display:grid;
    width:117px;
    height:38px;
    line-height:12.1px;
}

.nick-text span{
    font-weight:bold;
}

.ubication{
    font-size: 9px;
    font-weight:bold;
    width:117px;
    height:12px;
}

.nick-pic{
    width:50px;
    border-radius: 50%;
}

/*IMAGES*/

.carousel-container{
    width: 525px;
    height:325px;
}

.swiper{
    width:100%;
}

.image__wrapper{
    width:100%;
    position:relative;
}

.image__wrapper img{
    width:525px;
    height:325px;
    top:0;
    left:0;
    object-fit:cover;
    object-position:center top;
}

/*BUTTONS*/

.buttons-area{
    margin-top:15px;
    display:flex;
    justify-content:left;
}

.buttons{
    display:flex;
    margin-left:25px;
    width:92px;
    height:25px;
    gap:1rem;
    font-size:20px;
    cursor:pointer;

}

.button:hover{
    color:var(--Red);
    transition: 0.2s;
}


.button-heart-active{
    color:var(--Red);
}

/*DESCRIPTION & COMMENTS*/
.text-area{
    height:80px;
    width:500px;
    margin: 30px auto;
    display: grid;
    justify-content:center;
    align-items:center;
    gap:22px;
}

.text-area p{
    width:477px;
    height:30px;
    font-size:12px;
    line-height:14.52px;
    width:472px;
    height:15px;
    font-weight:400;
}

.text-area span{
    font-weight:600;
}


/*POST VAR*/

.form{
    width:477px;
    height:55px;
    margin:120px 24px 24px 24px;
    display:flex;
    justify-content:space-between;
    background-color: var(--SoftGrey);
    border-radius:5px;
    padding: 0 20px;
}


.form input{
    width:100%;
    background-color: var(--SoftGrey);
    padding:20px 0;
    gap:30px;
    border-radius:5px;
    border:none;
}

.form input:focus{
    outline:none;
}

.form button{
    border :none;
    color:var(--Blue);
    cursor:pointer;
}

.form button:hover{
    color:var(--DarkBlue);
}


/*DESKTOP*/

@media(min-width: 768px){
    .app{
        width:527px;
        margin: 150px 456px 129px 456px;
    }
    
    header{
        height:80px;
        display:flex;
        align-items:center;
        gap:17px;
        margin-left:25px;
        margin-top: 15px;
    }
    
    .nick-image{
        width:50px;
        height:50px;
    }

    .nick-pic{
        width:50px;
        border-radius: 50%;
    }
    
    .nick-text{
        display:grid;
        width:117px;
        height:37px;
    }

    .nick-text span{
        font-weight:bold;
    }

    .ubication{
        font-size: 9px;
        width:117px;
        height:12px;
    }

    /*IMAGES*/

    .carousel-container{
        width:525px;
        height:325px;
    }

    .swiper {
        width: 525px;
        height: 325px;
    }

    .image__wrapper{
        width:100%;
        position:relative;
    }

    .image__wrapper img{
        position:absolute;
        width:100%;
        top:0;
        left:0;
        object-fit:cover;
        object-position:center top;
    }

    /*BUTTONS*/
    
    .buttons-area{
        margin-top:15px;
        display:flex;
        justify-content:left;
    }
    
    .buttons{
        margin-left:25px;
        display:flex;
    }

    .button{
        display:flex;
        align-items:center;
        text-align:center;
    }

    /*DESCRIPTION & COMMENTS*/

    .text-area{
        height:80px;
        width:500px;
        margin: 30px auto;
        display: grid;
        justify-content:center;
        align-items:center;
        gap:22px;
    }

    
    .text{
        width:477px;
        height:30px;
        font-size:12px;
        font-weight:600;
        line-height:14.52px;
    }
    
    .form-area{
        width:477px;
        height:55px;
        margin:120px 24px 24px 24px;
        display:flex;
        justify-content:center;
        padding:20px 0;
        gap:30px;
        background-color: var(--SoftGrey);
        border-radius:5px;
    }

    /*POST VAR*/


    .form{
        width:477px;
        height:55px;
        margin:120px 24px 24px 24px;
        display:flex;
        justify-content:space-between;
        background-color: var(--SoftGrey);
        border-radius:5px;
        padding: 0 20px;
    }

    .form input{
        background-color: var(--SoftGrey);
        padding:20px 0;
        gap:30px;
        border-radius:5px;
        border:none;
    }

    .form input:focus{
        outline:none;
    }

    .form button{
        border :none;
        color:var(--Blue);
        cursor:pointer;
    }

    .form button:hover{
        color:var(--DarkBlue);
    }
}

